<script lang="ts">
	import NumbersCard from '$lib/NumbersCard.svelte';
</script>

<main class="font-serif flex flex-col gap-8 p-4 dark:text-amber-100">
	<div class="flex justify-center">
		<div>
			<h1 class="text-5xl small-caps">Lalambda School</h1>
			<h1 class="text-3xl">Advanced Topics in Programming</h1>
		</div>
	</div>

	<div class="text-3xl">We host summer schools in:</div>
	<ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-2xl list-disc sm:list-none">
		<li>Functional Programming</li>
		<li>Formal Methods</li>
		<li>AI Theory</li>
		<li>Hardware Synthesis</li>
	</ul>

	<div class="text-3xl">We emphasize:</div>
	<ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-2xl list-disc sm:list-none">
		<li>hands-on learning</li>
		<li>horizontal connections</li>
		<li>design from first principles</li>
		<li class="hover:animate-spin">🇨 🇺 🇱 🇹 🇺 🇷 🇪</li>
	</ul>

	<div class="text-3xl">Numbers:</div>
	<ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 list-disc sm:list-none">
		<NumbersCard number="400+" description="community peers">
			<!-- 400 is x2 lalambda channel -->
		</NumbersCard>
		<NumbersCard number="70" description="school participants to date" />
		<NumbersCard number="50+" description="experts in diverse fields" />
		<NumbersCard number="89x" description="average counterfactual rating" />
	</ul>
</main>
