body {
	cursor: url(assets/cursor.svg), auto;
}

a {
	cursor: url(assets/cursor-click.svg), auto;
}

.screen {
	height: 50vh;
	max-width: 1400px;
	overflow: clip;
}

.sign {
	display: flex;

	justify-content: center;
	align-items: center;
}

.box {
	font-family: monospace;
	font-size: 6em;
}

#title_la1 { animation: spin 1.99s linear infinite; }
#title_la2 { animation: spin 2s linear infinite; }
#title_201 { animation: spin 2.01s linear infinite; }
#title_202 { animation: spin 2.02s linear infinite; }

@keyframes spin { 
	100% { 
		transform:rotate(360deg); 
	} 
}

.char {
	--i: calc(100% / (var(--char-total) + 1));
	position: absolute;
	offset-path: path('M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0');
	offset-distance: calc(var(--i) * var(--char-index));
	/*  offset-anchor: top; FF only */
	padding-top: 4rem;
}
