<script lang="ts">
	import type { PageData } from './$types';
	export let data: PageData;
	let i18n: typeof data.content;
	$: i18n = data.content;
	import { invertLocale } from '$lib/i18n';
	import { md } from '$lib/md';

	import Art from './Art.svelte';
	import Course from './Course.svelte';
	import Logo from './Logo.svelte';
	import Venue from './Venue.svelte';
	import Register from './Register.svelte';
	import Carousel from './Carousel.svelte';
	import ApplyNow from './ApplyNow.svelte';
	import Courses from './Courses.svelte';

	import venue from '../../../static/venue.pdf'; // XXX
	import Timetable from './Timetable.svelte';
	import HeroImage from './HeroImage.svelte';
	import Headline from './Headline.svelte';
	import RevenueFromSheets from './RevenueFromSheets.svelte';
	import Tagline from './Tagline.svelte';
</script>

<svelte:head>
	<title>Lalambda 2023</title>
</svelte:head>
<nav class="px-4 flex justify-between gap-2 bg-yellow-500">
	<a href="https://t.me/lalambdaschool">t.me/lalambdaschool</a>
	<div class="flex flex-row-reverse gap-2">
		<a href={`/${invertLocale(data.lang)}`}>{invertLocale(data.lang)}</a>
		|
		<a href="http://iacsv.kocherga.club">2019</a>
		|
		<a href="https://lalambda.school/21" data-sveltekit-reload>2021</a>
		|
		<a href="/">2023</a>
	</div>
</nav>
<main class="flex flex-col gap-8 dark:text-amber-100">
	<div class="flex flex-col h-[96vh] justify-between">
		<div class="flex-1 flex flex-col place-content-center"><Logo /></div>
		<h1 class="font-serif text-6xl h-48">
			<Headline />
		</h1>
		<div class="self-end">
			<Tagline />
		</div>
	</div>
	<div class="fullwidth flex flex-col">
		<div
			class="grid grid-cols-2 p-4 bg-amber-50 dark:bg-amber-300 dark:text-stone-900 font-serif text-3xl"
		>
			<div>{i18n.duration_info[0]}</div>
			<div class="text-right">{i18n.time}</div>
			<div>{i18n.duration_info[1]}</div>
			<div class="text-right">{i18n.place}</div>
		</div>
		<HeroImage />
		<ol class="mt-4 w-full grid grid-cols-3 gap-2 divide-x font-serif text-xl sm:text-2xl">
			<li class="px-4 flex justify-center"><p>{i18n.pic_titles[0]}</p></li>
			<li class="px-4 flex justify-center"><p>{i18n.pic_titles[1]}</p></li>
			<li class="px-4 flex justify-center"><p>{i18n.pic_titles[2]}</p></li>
		</ol>
	</div>
	<div>
		<ApplyNow />
	</div>
	<section>
		<h2 class="font-serif text-3xl my-1">{i18n.names_and_faces}</h2>
		<iframe
			class="h-[50vh] w-full"
			title="Names and faces"
			src="https://docs.google.com/presentation/d/e/2PACX-1vRvGQeBlbTVPpvAsf98xJW1kKNoEPecrE8VOssXHk6cQE-4vvIDGGfnm-yD11gakXhyCRtF8O0x8832/embed?start=false&loop=false"
			frameborder="0"
			allowfullscreen={true}
		/>
	</section>
	<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
		<section class="sm:col-span-2 py-2">
			<h2 class="font-serif text-4xl my-2">{i18n.courses_header}</h2>
			<Courses />
		</section>
		<Timetable />
	</div>
	<img
		class="fullwidth py-4 bg-amber-50 dark:bg-amber-300"
		src="/photos/balcony.webp"
		alt="A man looking out into the camera while doing coursework on the balcony"
	/>
	<div class="fullwidth">
		<Art />
	</div>
	<Carousel />
	<section class="flex flex-col gap-2">
		<h2 class="font-serif text-4xl my-2">{i18n.venue_title}</h2>
		<div>
			{#each i18n.venue_desc as p}
				<p class="mb-2">{p}</p>
			{/each}
		</div>
		<Venue />
		<a class="self-end" href={venue}>{i18n.venue_presentation_link}↗</a>
	</section>
	<img
		class="fullwidth py-4 bg-amber-50 dark:bg-amber-300"
		src="/photos/thisbig.webp"
		alt="This big"
	/>
	<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
		<section class="col-span-1 sm:col-span-2 flex flex-col gap-2">
			<h2 class="font-serif text-4xl my-2">{i18n.registration_title}</h2>
			<div class="flex flex-col gap-2 md">
				{@html md(i18n.registration_desc)}
			</div>
			<Register />
		</section>
		<section
			class="py-2 px-4 flex flex-col justify-between gap-2 bg-amber-50 dark:bg-amber-300 dark:text-stone-900 text-right"
		>
			<h3 class="font-serif text-2xl my-1">{i18n.cost_breakdown}</h3>
			<img
				src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSgvnyfScYGBV1uHR-RekmT9xIX1DZiR-VMO7Cd2sN5jXunbs4_jl_UnkMvE4gzmSLgqU3cPYx-NfCr/pubchart?oid=1761880963&amp;format=image"
				alt="Ticket cost breakdown"
			/>
			<div class="flex flex-col">
				<h4 class="text-sm">{i18n.budget_excluding_accomodation}</h4>
				<RevenueFromSheets />
			</div>
			<a
				class="text-sm"
				href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSgvnyfScYGBV1uHR-RekmT9xIX1DZiR-VMO7Cd2sN5jXunbs4_jl_UnkMvE4gzmSLgqU3cPYx-NfCr/pubhtml?gid=1987164161&single=true"
			>
				{i18n.check_out_cost_breakdown}↗
			</a>
		</section>
	</div>
	<section class="flex flex-col gap-2">
		<h2 class="font-serif text-4xl my-2">{i18n.apply_title}</h2>
		<ApplyNow />
	</section>
	<div class="fullwidth">
		<img
			src="/photos/star.webp"
			alt="A group of participants standing in a circle around a star assembled in candles"
		/>
		<div
			class="flex justify-center align-center p-4 bg-amber-50 dark:bg-amber-300 dark:text-stone-900 font-serif text-3xl"
		>
			<a href="https://t.me/lalambdaschool">@lalambdaschool </a>
		</div>
	</div>
</main>
<footer class="px-4 font-mono bg-yellow-500">
	<span>
		<a href="https://gitlab.com/wldhx/lalambda.school-landing">designed</a> by 🐓 engineers with ❤️
	</span>
</footer>

<style>
	main {
		cursor: url(/cursor.svg), auto;
	}

	main > :not(.fullwidth) {
		@apply px-4;
	}

	:global(.art) {
		background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
		background-clip: text;
		color: transparent;
	}

	img {
		width: 100%;
	}
</style>
