<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content;
</script>

<div class={'drop-shadow-md ' + $$props.classOuter}>
	<a
		class={'w-full p-2 text-xl bg-amber-100 dark:text-stone-900 flex justify-between group ' +
			$$props.classInner}
		href="https://forms.gle/GFuJiGFA4VctHz178"
	>
		<div>{i18n.apply_title}</div>
		<div class="group-hover:animate-spin">↗</div>
	</a>
</div>
