<script>
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content

	import ApplyNowA from './ApplyNowA.svelte';
</script>

<div class="flex flex-col gap-4">
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
		<ApplyNowA />
		<ApplyNowA classOuter="hidden sm:flex" classInner="rotate-180" />
		<ApplyNowA classOuter="hidden md:flex" classInner="rotate-[5deg]" />
		<ApplyNowA classOuter="hidden lg:flex" classInner="scale-x-[-1]" />
	</div>
	<div class="grid grid-cols-2 gap-4">
		<div class="drop-shadow-md">
			<div class="p-2 text-xl bg-gray-100 dark:text-stone-900 flex justify-between">
				<div>{i18n.apply_grant}</div>
				<div>↗</div>
			</div>
		</div>
		<div class="drop-shadow-md">
			<a
				class="p-2 text-xl bg-amber-100 dark:text-stone-900 flex justify-between"
				href="https://forms.gle/euzLpsYSCq3KK8Rv8"
			>
				<div>↗</div>
				<div class="text-end">{i18n.apply_course}</div>
			</a>
		</div>
	</div>
</div>

<style>
	:global(a) {
		animation: round 5s infinite;
	}

	@keyframes round {
		0% {
			border-radius: 0px;
		}
		50% {
			border-radius: 0.25rem;
		}
		100% {
			border-radius: 0px;
		}
	}
</style>
