<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content;

	const images = [
		'astrology exploration',
		'astronomy with telescope',
		'berry picking',
		'bird-watching',
		'campfire cooking',
		'contact impro',
		'contemporary dance',
		'disc golf',
		'dream analysis',
		'drum circle',
		'hiking',
		'horse riding',
		'house dance',
		'kayaking',
		'meditation',
		'mountain biking',
		'nature photography',
		'outdoor painting',
		'plant identification walk',
		'poetry reading',
		'rock climbing or bouldering',
		'slack-lining',
		'stargazing',
		'survival skills workshop',
		'swimming',
		'teambuilding activities',
		'uterine breathing',
		'vision board creation',
		'wrestling',
		'yoga'
	];
</script>

<section class="mx-4">
	<h2 class="font-serif text-4xl my-2">{i18n.art_activities_title}</h2>
	<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
		{#each images as img, i}
			<img class="object-cover w-full h-full" src="/art/{img}.webp" alt={img} />
			{#if (i + 1) % 2 === 0 && i + 1 < images.length}
				<div
					class="p-2 w-full flex place-items-center font-serif text-2xl small-caps wrap-break-word"
				>
					{i18n.art_activities[((i - 1) / 2) | 0]}
				</div>
			{/if}
		{/each}
	</div>
</section>

<style>
	.wrap-break-word {
		overflow-wrap: anywhere;
	}
</style>
