<div class="flex flex-col pt-4 bg-amber-50 dark:bg-amber-300 ">
	<div class="flex overflow-x-scroll">
		<img src="/photos/tongue.webp" alt="Tongue" />
		<img src="/photos/piano.webp" alt="Piano" />
		<img src="/photos/tabletennis.webp" alt="Table Tennis" />
		<img src="/photos/lecture.webp" alt="A group of students listening to a lecture on Haskell" />
		<img src="/photos/virification.webp" alt="Virification" />
	</div>
	<div class="text-xs px-2 self-end dark:text-stone-900">scroll me→</div>
</div>

<style>
	img {
		max-width: 200%;
		max-height: 50vh;
	}
</style>
