<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content;

	import { md } from '$lib/md';

	import Course from './Course.svelte';
</script>

<ul>
	<li>
		<Course open title={i18n.courses[0].title}>
			{@html md(i18n.courses[0].desc)}
		</Course>
	</li>
	{#each i18n.courses.slice(1) as course}
		<li>
			<Course title={course.title}>
				{@html md(course.desc)}
			</Course>
		</li>
	{/each}
</ul>
