<script lang="ts">
	import ArrowRight from '~icons/material-symbols/arrow-right';

	export let open: boolean = false;
	export let title: string;
</script>

<details {open} class="group">
	<summary class="overflow-clip">
		<div class="flex gap-1 text-2xl">
			<ArrowRight class="group-open:rotate-90" />
			<h4 class="flex-1 self-center font-serif">
				{title}
			</h4>
		</div>
	</summary>
	<span class="md" id="slot">
		<slot />
	</span>
</details>

<style>
	summary {
		cursor: pointer;
	}

	details > summary {
		list-style: none;
	}
	details > summary::marker,
	details > summary::-webkit-details-marker {
		display: none;
	}

	details[open] h4 {
		animation: bounce 10s linear infinite;
	}
	@keyframes bounce {
		0% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0);
		}
	}

	#slot :global(*) {
		@apply leading-snug;
		@apply my-2;
		@apply text-lg;
	}

	#slot :global(a) {
		@apply underline;
	}
</style>
