<script lang="ts">
	import Typewriter from 'svelte-typewriter';

	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content;

	let ix = 0;

	const intervalId = setInterval(() => {
		ix = (ix + 1) % i18n.headline.length;
	}, 5000);

	import { onDestroy } from 'svelte';
	onDestroy(() => {
		clearInterval(intervalId);
	});
</script>

<!-- XXX: cursed -->
<div class="max-h-[8rem] max-w-[92vw] text-clip overflow-scroll">
	<Typewriter keepCursorOnFinish>
		{`${i18n.headline[ix]}.`}
	</Typewriter>
</div>
{i18n.gamarjoba}.

<style>
	:global(*) {
		--cursor-width: 0.5rem;
	}
</style>
