<span class="fullwidth">
	<img
		class="w-full"
		src="/photos/explaining.webp"
		alt="A queer person explaining category theory concepts"
	/>
	<img
		class="w-full"
		src="/photos/explaining-2.webp"
		alt="A queer person explaining category theory concepts in space"
	/>
</span>

<style>
	span:hover img:first-child {
		display: none;
	}
	span img:last-child {
		display: none;
	}
	span:hover img:last-child {
		display: inline-block;
	}
</style>
