<div class="flex place-content-center font-mono text-8xl m-8 spin_opposite animate_on_active">
	<div>
		<div class="spin" id="title_la1">ЛЯ</div>
		<div class="spin" id="title_la2">ЛЯ</div>
	</div>
	<div>
		<div class="spin" id="title_201">20</div>
		<div class="spin" id="title_202">
			2<span class="inline-block spin_opposite">3</span>
		</div>
	</div>
</div>

<style>
	#title_la1 {
		animation-duration: 1.99s;
	}
	#title_la2 {
		animation-duration: 2s;
	}
	#title_201 {
		animation-duration: 2.01s;
	}
	#title_202 {
		animation-duration: 2.02s;
	}
	.spin {
		animation: spin linear infinite;
	}
	.spin:hover {
		animation-play-state: paused;
	}
	.spin_opposite {
		user-select: none;
		animation: spin-opposite 2s linear infinite;
	}
	.animate_on_active {
		animation-play-state: paused;
	}
	.animate_on_active:active {
		animation-play-state: running;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes spin-opposite {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(-360deg);
		}
	}

	div > div {
		cursor: url(/cursor-click.svg), auto;
	}
</style>
