<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content

	import BirdIcon from '~icons/mdi/bird';
	import BeeIcon from '~icons/mdi/bee-flower';
	import HatFedoraIcon from '~icons/mdi/hat-fedora';
	import CarSpeedLimiterIcon from '~icons/mdi/car-speed-limiter';
	import CashCheckIcon from '~icons/mdi/cash-check';
	import HomeHeartIcon from '~icons/mdi/home-heart';
	import StarOutlineIcon from '~icons/material-symbols/star-outline';
	import RegisterCard from './RegisterCard.svelte';

	import { writable } from 'svelte/store';

	let corporate = false;
	let noAccomodation = false;

	const st = writable({
		corporate,
		noAccomodation
	});

	$: st.set({
		corporate,
		noAccomodation
	});

	import { setContext } from 'svelte';

	setContext('st', st);
</script>

<div class="grid grid-cols-2 sm:grid-cols-4 gap-x-4 gap-y-8">
	<div class="col-span-full flex gap-1">
		<div class="flex-1 bg-amber-100 dark:text-stone-900 drop-shadow-md">
			<input type="checkbox" id="corporate" class="hidden" bind:checked={corporate} />
			<label for="corporate" class="h-16 flex justify-between text-right gap-4 px-4 cursor-pointer">
				{#if corporate}
					<HatFedoraIcon class="self-center h-12 w-12" />
					<div class="self-end text-base sm:text-lg font-medium">{i18n.corporate}</div>
				{:else}
					<BeeIcon class="self-center h-12 w-12" />
					<div class="self-end text-base sm:text-lg font-medium">{i18n.personal}</div>
				{/if}
			</label>
		</div>
		<div class="flex-1 bg-amber-100 dark:text-stone-900 drop-shadow-md">
			<input type="checkbox" id="noAccomodation" class="hidden" bind:checked={noAccomodation} />
			<label
				for="noAccomodation"
				class="h-16 flex justify-between text-left gap-4 px-4 cursor-pointer"
			>
				{#if noAccomodation}
					<div class="self-end text-base sm:text-lg font-medium">{i18n.i_live_in_tbilisi}</div>
					<HomeHeartIcon class="self-center h-12 w-12 scale-x-[-1]" />
				{:else}
					<div class="self-end text-base sm:text-lg font-medium">{i18n.accomodation_at_venue}</div>
					<StarOutlineIcon class="self-center h-12 w-12 scale-x-[-1]" />
				{/if}
			</label>
		</div>
	</div>
	<RegisterCard
		price={{
			personal: { shared: 1000, single: 1300, live_in_tbilisi: 550 },
			corp: { shared: 1400, single: 1700, live_in_tbilisi: 1000 }
		}}
		desc="March birds"
		till="12/04/23"
		inactive
	>
		<BirdIcon slot="icon" class="h-36 w-36" />
	</RegisterCard>
	<RegisterCard
		price={{
			personal: { shared: 1100, single: 1400, live_in_tbilisi: 650 },
			corp: { shared: 1600, single: 1900, live_in_tbilisi: 1200 }
		}}
		desc="April bees"
		till="30/04/23"
		inactive
	>
		<BeeIcon slot="icon" class="h-36 w-36" />
	</RegisterCard>
	<RegisterCard
		price={{
			personal: { shared: 1400, single: 1700, live_in_tbilisi: 950 },
			corp: { shared: 2200, single: 2500, live_in_tbilisi: 1800 }
		}}
		desc="May fedoras"
		till="30/06/23"
	>
		<HatFedoraIcon slot="icon" class="h-36 w-36 animate-bounce" />
	</RegisterCard>
	<RegisterCard
		price={{
			personal: { shared: 1700, single: 2000, live_in_tbilisi: 1250 },
			corp: { shared: 2800, single: 3100, live_in_tbilisi: 2400 }
		}}
		desc="Late birds"
		till="09/07"
		inactive
	>
		<CarSpeedLimiterIcon slot="icon" class="h-36 w-36" />
	</RegisterCard>
	<div
		class="col-span-full bg-amber-100 dark:text-stone-900 flex justify-between items-center text-center gap-4 px-4"
	>
		<CashCheckIcon class="h-12 w-12" />
		<div class="text-lg font-medium">{i18n.registration_sponsors}: 5555$</div>
		<CashCheckIcon class="h-12 w-12 scale-x-[-1]" />
	</div>
</div>
