<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content

	export let price;
	export let desc: string;
	export let till: string;
	export let inactive: boolean = false;

	import { getContext } from 'svelte';
	const st = getContext('st');

	let price_shared, price_single;
	$: price_shared =
		price[$st.corporate ? 'corp' : 'personal'][$st.noAccomodation ? 'live_in_tbilisi' : 'shared'];
	$: price_single =
		price[$st.corporate ? 'corp' : 'personal'][$st.noAccomodation ? 'live_in_tbilisi' : 'single'];
</script>

<div class="flex flex-col items-center">
	<div id="card" class:inactive>
		<slot name="icon" />
		<div>
			{#if price_shared !== price_single}
				<span title="Shared accomodation">{price_shared}$</span>/<span title="Single accomodation"
					>{price_single}$</span
				>
			{:else}
				{price_shared}$
			{/if}
		</div>
		<div class="font-semibold">{desc}</div>
		<div class="text-sm">{i18n.till} {till}</div>
		<slot />
	</div>
</div>

<style>
	#card > div {
		@apply px-4;
	}

	.inactive {
		filter: opacity(0.5);
	}

	:not(.inactive) > :global([slot='icon']) {
		filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	}

	@media (prefers-color-scheme: dark) {
		:not(.inactive) > :global([slot='icon']) {
			filter: drop-shadow(3px 5px 2px rgb(255 255 255 / 0.2));
		}
	}
</style>
