<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content;

	import { getFinancesCell } from '$lib/gsheets';

	let revenue = 'loading...';
	let opex = 'loading...';
	let profit = 'loading...';

	import { onMount } from 'svelte';
	onMount(async () => {
		[revenue, opex, profit] = await Promise.all(['L2', 'L3', 'L4'].map(getFinancesCell));
	});
</script>

<table class="text-sm">
	<tr>
		<td>{i18n.revenue}</td>
		<td>
			{revenue}
		</td>
	</tr>
	<tr>
		<td>{i18n.opex}</td>
		<td>
			{opex}
		</td>
	</tr>
	<tr>
		<td>{i18n.profit}</td>
		<td>
			{profit}
		</td>
	</tr>
</table>

<style>
	td {
		border: dotted 1px gray;
	}
</style>
