<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content;

	import { getFinancesCell } from '$lib/gsheets';

	let registrations = '';

	import { onMount } from 'svelte';
	onMount(async () => {
		registrations = await getFinancesCell('L5');
	});
</script>

<h2 class="font-serif text-4xl">
	{i18n.tagline} <span class="art">{i18n.tagline_contemporary}</span>.
</h2>
<h2 class="font-serif text-4xl">{i18n.headline_2(registrations)}</h2>
