<script lang="ts">
	import { page } from '$app/stores';
	let i18n = $page.data.content;
	$: i18n = $page.data.content;

	const times = [
		'9:30',
		'9:45',
		'10:30',
		'11:00',
		'12:15',
		'12:30',
		'13:45',
		'14:30',
		'15:45',
		'16:00',
		'17:15',
		'17:30',
		'18:45',
		'19:00',
		'20:15',
		'21:00',
		'23:00',
		'0:00'
	];
	const schedule = times.map((x, i) => [x, i18n.timetable_content[i]]);
</script>

<section
	class="py-2 flex flex-col gap-2 px-4 bg-xmber-50 dark:bg-amber-300 dark:text-stone-900 text-right"
>
	<h3 class="font-serif text-2xl my-1">{i18n.timetable_title}</h3>
	<table>
		{#each schedule as [t, { name, kind }]}
			<tr><td>{t}</td><td class={kind}>{name}</td></tr>
		{/each}
	</table>
</section>

<style>
	td {
		border: dotted 1px gray;
	}

	table .art {
		filter: brightness(0.8);
	}

	.tech {
		@apply font-mono;
	}
</style>
