<span>
	<img src="/photos/venue.webp" alt="Hualing Hotels & Preference" />
	<img src="/photos/field.webp" alt="Field" />
</span>

<style>
	span:hover img:first-child {
		display: none;
	}
	span img:last-child {
		display: none;
	}
	span:hover img:last-child {
		display: inline-block;
	}
</style>
